
             body{ 
                background-color:brown;
                color:white;
            }
            h1{
                color:aqua;
                font-size: larger;
                font-style: oblique;
                text-align: center;
            }
            .secondDiv{
                background-color: pink;
                align-items: center;
                justify-content: center;
                display:flex;
            }
        .first button{
                margin: 5px;
                padding: 5px 10px;
                margin-top: 10px;
                margin-bottom: 10px;
                margin-left: 10px;
                margin-right: 5px;
                cursor: pointer;
                border:3px solid
                 red;
                

            }
            /* .first button:hover{
                background-color: yellow;
                color:blueviolet; */
                
            /* } */
        
        .subButJS{
            background-color: grey;
            color: black;
        }
        .subBut{
            padding: 5px 10px;
            margin: 5px;
            background-color: black;
            color: white;
           border-radius: 18px;

        }
        